<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Angular <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-area="" asp-controller="Home" asp-action="ProductManagement">ProductManagement</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Angular">Book App</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="SchoolApp">School App</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="NgDirective">Ng Directive App</a></li>
    </ul>
</li>
<li><a asp-area="" asp-controller="Home" asp-action="angular2">Angular2</a></li>