@model AngularHandsOn.Model.LoginModel

@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h3>
    Login
</h3>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <h4>Local Account</h4>
            <hr />
            <form role="form" asp-action="Login" asp-controller="Auth" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success" />
                </div>

            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socilaLoginForm">
            @await Html.PartialAsync("_ExternalLoginsList.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>