@{
    ViewBag.Title = "Angular Page";
}
<h1>Book Logger</h1>

<ul>
<li><a href="/home/angular/#/">Books</a></li>
    </ul>
    <div class="row" ng-app="app">


        <div ng-view></div>
           @* <div ng-controller="BooksController as books">
        <h1>Hello {{ books.appName }}!</h1>
        <h3>All Books</h3>
        <div>
            <ul>
                <li ng-repeat="book in books.allBooks">{{ book.title }} - {{ book.author }}</li>
            </ul>
        </div>
        <h3>All Readers</h3>
        <div>
            <ul>
                <li ng-repeat="reader in books.allReaders">{{ reader.name }} - {{ books.getBadge(reader.totalMinutesRead) }}</li>
            </ul>
        </div>
    </div>*@
    </div>
