@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12">
        <h1>Welcome to The World</h1>
        <p>This is a web app that will help you build world trips.</p>
        <a asp-controller="Home" asp-action="Schools" class="btn btn-lg btn-success">Display Schools</a>
    </div>
</div>