@{
    ViewBag.Title = "Product Management";
}
<h1>Product Management</h1>

<ul>
    <li><a href="/home/productmanagement/#/">ProductManagement</a></li>
</ul>
<div class="row" ng-app="productManagement">
    <div ng-view></div>
</div>
