@{
    ViewBag.Title = "Home Page";
}
<div class="row">


    <div class="col-md-6">
        <div id="AddOrUpdateSchool">
            @await Component.InvokeAsync("AddOrUpdateSchool")
        </div>
    </div>
    <div class="col-md-6">
        <div id="schoolsList">
            @await Component.InvokeAsync("SchoolsList")
        </div>
    </div>
</div>