<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngularHandsOn</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/ui-bootstrap-tpls-0.11.0.js"></script>
        <link href="~/css/bootstrap.cerulean.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/custom.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/app.css" />
        <link href="~/js/ngdirectiveapp/style.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="wrapper">
        @await Html.PartialAsync("_ApplicationMenu")
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
    <footer>
        @if (IsSectionDefined("footer"))
        {
            @RenderSection("footer");
        }
        else
        {
            <p>&copy; 2016 - AngularHandsOn</p>
        }
    </footer>

    @await Html.PartialAsync("_Scripts")

    @RenderSection("scripts", required: false)
</body>

</html>
